*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.hd{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 251 240 );
    height: 650px;
    width: 100%;
}
.hd h1{
    color: rgb(250, 204, 21);
    font-size: 48px;
}
.wr{
    color: black;
    margin-top: -700px;
}
.hd p{
    height: 50px;
}
.btn{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(132 204 22  );
    padding: 18px;
    margin-top: 0px;
    border-radius: 10px;
}
.mdl{
    margin-left: 200px;
}
.sc{
    background-color: #e5e7eb;
    width: 100%;
    height: 850px;
}
.sc h2{
    font-size: 40px;
    margin-left: 220px;
}
.woman{
    display: flex;
    justify-content: center;

}
.wj{
    background-color: #e5e7eb;
    height:700px;
    width: 480px;
    margin-left: 20px;
    border: 1px solid #e5e7eb;
    box-shadow:  0 5px 15px -5px;
}
.wj img{
    background-color: white;
    width: 450px;
    height: 500px;
    margin: 10px 20px 0px 15px;
    border-radius: 10px;
}
.wj h3{
    font-size: 30px;
    margin-left: 20px;
}
.wj p{
    margin-left: 20px;
}
.price{
    display: flex;
}
.price h2{
    color: rgb(250, 204, 21) ;
    margin-left: 10px;
}
.price a{
    margin-left: 220px;
}
.sc1{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    height: 550px;
}
.fit{
    display: flex;
    align-items: center;
    background-color: white;
    height: 130px;
    width: 750px;
    margin-top: 20px;
    border-radius: 10px;
}
.fit img{
    height: 85px;
    margin-left: 20px;
}
.fit h4{
    font-size: 20px;
}
.shp img{
    height:450px ;
    margin-left: 20px;
}
footer{
    background-color: #e5e7eb;
    height: 50px;
}
footer p{
    text-align: center;
}